*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(pic%202.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}
header:hover
{
    opacity: 1.0;
}

body
{
    font-family: cursive;
}

.main
{
    max-width: 1000px;
    margin: auto;
}

.pic img
{
    width: 200px;
    height: 200px;
    border-style: groove;
    border-width: thick;
}

.mpb
{
    height: 800px;
    position: relative;
}

.vc
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}

h1
{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

h2
{
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

p
{
    color: black;
    float: left;
    border-style: dotted solid;
    border-width: thick;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

svgelem
{
    position: relative;
    float: left;
    margin-top: 10px;
    left: 50%;
    -webkit-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    transform: translateX(-40%);
}
